<mat-toolbar>
  <span>Listar de Itens</span>
</mat-toolbar>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<div class="componente-container">
  <form
    [formGroup]="formGroupPesquisa"
    (ngSubmit)="formGroupPesquisa.valid && buscaPorAlias()"
  >
    <mat-form-field>
      <input
        matInput
        placeholder="alias"
        formControlName="alias"
        autocomplete="off"
      />

    </mat-form-field>
    <button mat-raised-button color="primary">Pesquisar</button>
    <button
      mat-raised-button
      type="button"
      color="secondary"
      (click)="limparPesquisa()"
    >
      Limpar
    </button>
  </form>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="identificador">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.identificador }}</td>
    </ng-container>
    <ng-container matColumnDef="alias">
      <th mat-header-cell *matHeaderCellDef>Alias</th>
      <td mat-cell *matCellDef="let element">{{ element.alias }}</td>
    </ng-container>
    <ng-container matColumnDef="documentTitle">
      <th mat-header-cell *matHeaderCellDef>documentTitle</th>
      <td mat-cell *matCellDef="let element">{{ element.documentTitle }}</td>
    </ng-container>

    <ng-container matColumnDef="initialReleaseDate">
      <th mat-header-cell *matHeaderCellDef>initialReleaseDate</th>
      <td mat-cell *matCellDef="let element">
        {{ element.initialReleaseDate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="currentReleaseDate">
      <th mat-header-cell *matHeaderCellDef>currentReleaseDate</th>
      <td mat-cell *matCellDef="let element">
        {{ element.currentReleaseDate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="cvrfUrl">
      <th mat-header-cell *matHeaderCellDef>cvrfUrl</th>
      <td mat-cell *matCellDef="let element">
        <a mat-flat-button href="{{ element.cvrfUrl }}" target="_blank">Link</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="center">
      <mat-paginator
      [length]="90"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
      (page)="pageEvent = $event; listarItens()"
    >
    </mat-paginator>
  </div>
</div>
